<div class="container vh-100">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header">Términos y Condiciones Legales de FullClima</h3>
        <div class="card-body">
          <p class="card-text">
            <p>Bienvenido a FullClima. Estos términos legales ("Términos") establecen los derechos y obligaciones legales que rigen el uso de nuestro sitio web y servicios relacionados. Al acceder o utilizar nuestro sitio web, estás aceptando estos Términos y aceptas cumplir con todas las leyes y regulaciones aplicables. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices nuestro sitio web.</p>
 
            <p>Propiedad Intelectual
            Todos los derechos de propiedad intelectual relacionados con el contenido y la información presentada en nuestro sitio web pertenecen a FullClima o a terceros licenciantes. No se otorga ningún derecho de propiedad intelectual por el uso de nuestro sitio web o servicios.
            </p>
      
            <p>Uso del Sitio Web
            Estás autorizado a utilizar nuestro sitio web con fines legales y de acuerdo con estos Términos. No se permite utilizar nuestro sitio web para actividades ilegales, difamatorias, ofensivas, que infrinjan los derechos de terceros o que violen cualquier ley aplicable.
            </p>
     
            <p>Privacidad
            El uso de la información personal proporcionada a través de nuestro sitio web se rige por nuestra Política de Privacidad. Al utilizar nuestro sitio web, aceptas nuestro tratamiento de la información personal de acuerdo con dicha política.
            </p>
       
            <p>Limitación de Responsabilidad
            FullClima no se hace responsable de los daños directos, indirectos, incidentales, especiales o consecuentes que puedan surgir del uso de nuestro sitio web o de la imposibilidad de acceder a él.</p>
         
            <p>Enlaces a Terceros
            Nuestro sitio web puede contener enlaces a sitios web de terceros. Estos enlaces se proporcionan únicamente para tu conveniencia. No tenemos control sobre el contenido de estos sitios web y no asumimos ninguna responsabilidad por ellos.
            </p>
        
            <p>
            Modificaciones
            FullClima se reserva el derecho de modificar, suspender o interrumpir cualquier aspecto de nuestro sitio web o servicios en cualquier momento y sin previo aviso.
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
