<div class="container-registration col-md-4">
  <div class="container-registration__card">
    <h2 class="container-registration__h2">Edit equipment</h2>

    <%= render "form", equipment: @equipment %>

  </div>
</div>
