<div class="col-4 mx-auto">
<h1>Editing equipment</h1>

<div class="card mb-2">
  <div class="card-body">
  <%= render "form", equipment: @equipment %>
  <hr>
  <%= link_to "Volver", equipment_index_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
</div>
