<div class="container">
  <div class="container__card">
    <div class="container__img">
      <%= image_tag "service.png", class: "img-fluid", style: "width: 200px; height: 200px;", alt: "cover" %>
    </div>
    <h1 class="container__h1">
      FullClima
    </h1>
    <h2 class="container__h2">
      The streamlined solution for organized management        
    </h2>
    <h3 class="container__h3">
      Optimize your maintenance and maximize your efficiency.
    </h3>
  </div>
</div>
