<div class="col-4 mx-auto">
  <h1>Editing maintainer</h1>

  <div class="card mb-2">
    <div class="card-body">
      <%= render "form", maintainer: @maintainer %>
      <hr>
      <%= link_to "Volver", maintainers_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
