<div class="col-4 mx-auto">
  <h1>Editing mantainer</h1>

  <div class="card mb-2">
    <div class="card-body">
      <%= render "form", mantainer: @mantainer %>
      <hr>
      <%= link_to "Volver", mantainers_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
