/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset";
@import "scroll-style";
@import "bootstrap";

:root {
    --navbar: 56px;
}

body {
    background-color: #163771;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 1rem;
    padding-top: calc(var(--navbar) + 1rem);
}

.container {

    &__card {
        background: #fafafa;
        border-radius: 1rem;
        padding: 3rem;
        box-shadow: 20px 20px 60px #132f60,
            -20px -20px 60px #0b2655;
    }

    &__img {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__h1 {
        color: #163771;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }

    &__h2 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    &__h3 {
        font-size: 1.6rem;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }

    &__p {
        font-size: .9rem;
        font-weight: 400;
        margin: 0;
    }
}

@media screen and (max-width: 460px) {
    .container {
        &__card {
            padding: 2rem;
        }

        &__h1 {
            font-size: 1.4rem;
        }

        &__h2 {
            font-size: 1.3rem;
        }

        &__h3 {
            font-size: 1rem;
        }
    }
}


.item-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &__item {
        width: 33%;
        background: #fafafa;
        border-radius: 1rem;
        padding: 1.8rem;
        box-shadow: 20px 20px 60px #132f60,
            -20px -20px 60px #0b2655;
    }
}

@media screen and (max-width: 460px) {
    .item-container {
        display: flex;
        flex-direction: column;

        &__item {
            width: 100%;
        }


    }
}
